@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
.pixel-text {
  font-family: 'Press Start 2P', cursive;
  color: #fafafa !important;
}
BODY {
  background-color: #7b7bf6;
}
MAIN {
  padding-top: 120px;
}
A {
  color: #fafafa;
}
NAV.site-bar {
  background-color: #000083;
}
NAV.search-bar {
  font-family: 'Press Start 2P', cursive;
  color: #fafafa !important;
  margin-top: 50px;
}
.fa {
  font-size: 150%;
}
.footer-bar {
  font-family: 'Press Start 2P', cursive;
  color: #fafafa !important;
}
.browse-options li a {
  padding-left: 8px;
  padding-right: 8px;
  text-transform: uppercase;
}
