footer#footer
	div(class='navbar navbar-inverse navbar-fixed-bottom footer-bar')
		div(class='navbar-text navbar-left') v #{version}
		ul(class='nav navbar-nav navbar-right')
			li: a(href='https://www.facebook.com/zanyvideogamequotes',target='_blank'): i(class='fa fa-facebook')
			li: a(href='https://twitter.com/zvgq',target='_blank'): i(class='fa fa-twitter')
			li: a(href='https://github.com/zvgq/zvgq',target='_blank'): i(class='fa fa-github')
		
