header
	nav(id='sitenav', class='navbar navbar-fixed-top site-bar')
		div(class='container-fluid')
			span.navbar-brand.pixel-text "New" Zany Video Game Quotes
			ul(class='nav navbar-nav navbar-right')
				li.pixel-text: a(href="/browse") Browse
				li.pixel-text: a(href="/faq") FAQ
				li: a(href='https://www.facebook.com/zanyvideogamequotes',target='_blank'): i(class='fa fa-facebook')
				li: a(href='https://twitter.com/zvgq',target='_blank'): i(class='fa fa-twitter')
				li: a(href='https://github.com/zvgq/zvgq',target='_blank'): i(class='fa fa-github')

	nav(class='navbar navbar-inverse navbar-fixed-top search-bar')
		div(class='container-fluid')
			block subheader
