header
	nav(id='sitenav', class='navbar navbar-fixed-top site-bar')
		div(class='container-fluid')
			span.navbar-brand.pixel-text "New" Zany Video Game Quotes
			ul(class='nav navbar-nav navbar-right')
				li.pixel-text: a(href="/games") Games
				li.pixel-text: a(href="/faq") FAQ

	nav(class='navbar navbar-inverse navbar-fixed-top search-bar')
		div(class='container-fluid')
			ul(class='nav navbar-nav navbar-left browse-options')
				li.pixel-text: a(href="/games/new") NEW!
				li.pixel-text: a(href="/games/num") #
				li.pixel-text: a(href="/games/a") A
				li.pixel-text: a(href="/games/b") B
				li.pixel-text: a(href="/games/c") C
				li.pixel-text: a(href="/games/d") D
				li.pixel-text: a(href="/games/e") E
				li.pixel-text: a(href="/games/f") F
				li.pixel-text: a(href="/games/g") G
				li.pixel-text: a(href="/games/h") H
				li.pixel-text: a(href="/games/i") I
				li.pixel-text: a(href="/games/j") J
				li.pixel-text: a(href="/games/k") K
				li.pixel-text: a(href="/games/l") L
				li.pixel-text: a(href="/games/m") M
				li.pixel-text: a(href="/games/n") N
				li.pixel-text: a(href="/games/o") O
				li.pixel-text: a(href="/games/p") P
				li.pixel-text: a(href="/games/q") Q
				li.pixel-text: a(href="/games/r") R
				li.pixel-text: a(href="/games/s") S
				li.pixel-text: a(href="/games/t") T
				li.pixel-text: a(href="/games/u") U
				li.pixel-text: a(href="/games/v") V
				li.pixel-text: a(href="/games/w") W
				li.pixel-text: a(href="/games/x") X
				li.pixel-text: a(href="/games/y") Y
				li.pixel-text: a(href="/games/z") Z
				
