header
	nav(id='sitenav', class='navbar navbar-fixed-top site-bar')
		div(class='container-fluid')
			span.navbar-brand.pixel-text "New" Zany Video Game Quotes
			ul(class='nav navbar-nav navbar-right')
				li.pixel-text: a(href="/games") Games
				li.pixel-text: a(href="/faq") FAQ

	nav(class='navbar navbar-inverse navbar-fixed-top search-bar')
		div(class='container-fluid')
			block subheader
