lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

*.pem
*.key
*.crt

pids
logs
results

npm-debug.log

**/config.json

*.js
*.css

client/lib/**

dist/**
node_modules
*.map

*~
*.swp

# CoffeeScript Refactor
!/test/*.js
!/client/test/*.js
!/utils/*.js

!/repositories/cataloguerepository.js
!/models/gamemodel.js
!/models/quotemodel.js
