lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

*.pem
*.key
*.crt

pids
logs
results

npm-debug.log

config*.json
!config.sample.json


*.js
*.css

client/lib/**

typings

dist/**
node_modules
*.map

*~
*.swp

# CoffeeScript Refactor
!gruntfile.js
!/test/*.js
!/client/test/*.js
!/client/script/gameviewhelper.js
!/utils/*.js
!/index.js

!/repositories/cataloguerepository.js
!/models/gamemodel.js
!/models/quotemodel.js
