<!DOCTYPE html>
<html>
	<head>
		<title>"New" Zany Video Game Quotes</title>
		
		<link rel="stylesheet" type="text/css" href="style/main.css" />
	</head>
	<body>
	
		<script type="text/x-handlebars">
			<header>
				<nav id="sitenav" class="navbar navbar-fixed-top site-bar">
					<div class="container-fluid">
						<a href="#" class="navbar-brand pixel-text">"New" Zany Video Game Quotes</a>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#"><span class="glyphicon glyphicon-link"></span></a></li>
							<li><a href="#"><span class="glyphicon glyphicon-link"></span></a></li>
							<li><a href="#"><span class="glyphicon glyphicon-envelope"></span></a></li>
						</ul>
					</div>
				</nav>
				<nav class="navbar navbar-inverse navbar-fixed-top search-bar">
					<div class="container-fluid">
						<ul class="nav navbar-nav browse-options">
							<li><a href="#">NEW!</a></li>
							<li><a href="#">#</a></li>
							<li><a href="#">A</a></li>
							<li><a href="#">B</a></li>
							<li><a href="#">C</a></li>
							<li><a href="#">D</a></li>
							<li><a href="#">E</a></li>
							<li><a href="#">F</a></li>
							<li><a href="#">G</a></li>
							<li><a href="#">H</a></li>
							<li><a href="#">I</a></li>
							<li><a href="#">J</a></li>
							<li><a href="#">K</a></li>
							<li><a href="#">L</a></li>
							<li><a href="#">M</a></li>
							<li><a href="#">N</a></li>
							<li><a href="#">O</a></li>
							<li><a href="#">P</a></li>
							<li><a href="#">Q</a></li>
							<li><a href="#">R</a></li>
							<li><a href="#">S</a></li>
							<li><a href="#">T</a></li>
							<li><a href="#">U</a></li>
							<li><a href="#">V</a></li>
							<li><a href="#">W</a></li>
							<li><a href="#">X</a></li>
							<li><a href="#">Y</a></li>
							<li><a href="#">Z</a></li>
						</ul>
					</div>
				</nav>
			</header>
			<main>
				<header class="page-header">
					<h3>{{#link-to 'games'}} Games {{/link-to}}</h3>
				</header>
				<section>
					{{outlet}}	
				</section>
			</main>
			<footer>
				<div class="navbar navbar-inverse navbar-fixed-bottom footer-bar">
					<div class="navbar-text">Copyright &copy; 2014 David Wesst / Kevin Wojnarski</div>
				</div>
			</footer>
		</script>
		
		<script type="text/x-handlebars" data-template-name="games">
			<h5>Games</h5>
			<ul>
				{{#each}}
				<li>
					{{#link-to 'game' id}}
					<figure>
						<img {{bindAttr src=titleMediaUri}} />
						<figcaption>{{title}}</figcaption>
					</figure>
					{{/link-to}}
				</li>
				{{/each}}
			</ul>
		</script>
		
		<script type="text/x-handlebars" data-template-name="game">
			<h1>{{title}}</h1>
			<figure>
				<img {{bindAttr src=titleMediaUri}} />
				<figcaption>{{description}}</figcaption>
			</figure>
			<h2>Quotes</h2>
			<ul>
				{{#each quote in quotes}}
				<li>{{quote.description}}</li>
				{{else}}
				<li>No quotes for this game.</li>
				{{/each}}
			</ul>
		</script>
		
		<script data-main="main" src="lib/requirejs/require.js"></script>
	</body>
</html>
