<!DOCTYPE html>
<html>
	<head>
		<title>"New" Zany Video Game Quotes</title>
		
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="style/main.css" />
	</head>
	<body>
	
		<script type="text/x-handlebars">
			<header>
				<nav id="sitenav" class="navbar navbar-fixed-top site-bar">
					<div class="container-fluid">
						{{#link-to 'games' 'new'}}
							<span class="navbar-brand pixel-text">"New" Zany Video Game Quotes</span>
						{{/link-to}}
						<ul class="nav navbar-nav navbar-right">
							<li><a href="https://www.facebook.com/zanyvideogamequotes" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/zvgq" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://github.com/zvgq/zvgq" target="_blank"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</nav>
				<nav class="navbar navbar-inverse navbar-fixed-top search-bar">
					<div class="container-fluid">
						<ul class="nav navbar-nav browse-options">
							{{#each queries}}
							<li>{{#link-to 'games' filter}}<span>{{value}}</span>{{/link-to}}</li>
							{{/each}}
						</ul>
					</div>
				</nav>
			</header>
			<main>
				<section>
					{{outlet}}	
				</section>
			</main>
			<footer>
				<div class="navbar navbar-inverse navbar-fixed-bottom footer-bar">
					<div class="navbar-text">Copyright &copy; 2014 David Wesst / Kevin Wojnarski</div>
					<div id="loadingDisplay" class="navbar-text loading-message">
						Loading...
					</div>
				</div>
			</footer>
		</script>
		
		<script type="text/x-handlebars" data-template-name="games">
			<div id="tileContainer" class="tile-container">
			{{#each}}
				{{#link-to 'game' id}}
				<article class="tile">
					<div>
						<h3 class="media-heading">{{title}}</h3>
						<h5>Quotes: {{quoteCount}}</h5>
					</div>
				</article>
				{{/link-to}}
			{{else}}
				<li>
					No results were returned! Try again, if you're bad enough...
				</li>
			{{/each}}
			</div>
		</script>
		
		<script type="text/x-handlebars" data-template-name="game">
			<div class="game">
				{{#if titleMediaUri}}
				<header class="game-header" style="background">
					<h1>{{title}}</h1>	
				</header>
				{{else}}
				<header class="game-header">
					<h1>{{title}}</h1>
				</header>
				{{/if}}
				
				<section>
					<h2>Quotes</h2>
					<section id="tileContainer" class="tile-container">
						{{#each quote in quotes}}
							{{#link-to 'quote' quote.id}}
								<article class="tile quote">
									<h3>{{quote.description}}</h3>
								</article>
							{{/link-to}}
						{{else}}
						<article>ZOMG! No Quotes for this Game!</article>
						{{/each}}
					</section>
				</section>
				
				<section id="quoteDisplay">
					{{outlet}}
				</section>
			</div>
		</script>
		
		<script type="text/x-handlebars" data-template-name="quote">
			<div class="quote">
				<h1>Quote Template</h1>
				<h1>{{description}}</h1>
			</div>
		</script>
		
		<script data-main="main" src="lib/requirejs/require.js"></script>
	</body>
</html>
