extends ./base.jade

block content
	section
		h1.pixel-text Frequently Asked Questions
		p.
			If your question isn't here, try reaching out on <a href='https://www.facebook.com/zanyvideogamequotes' target='_blank'>our Facebook page</a> 
			or, if it's more technical, drop us a message via <a href='https://github.com/zvgq/zvgq' target='_blank'>Github</a>.
		
		h3.pixel-text What is this place?
		p.
			This is the "New" Zany Video Games pre-alpha website. This rebuild has been promised and discussed for quite a long time now, and now there is something to show.
		
		h3.pixel-text Where are all of the game and quotes?
		p.
			The old site was a static HTML site, while this one is a dynamic site that loads data from a database. We
			need to port all the data over, even though all the pictures and content have been updated. The 
			<a href='https://github.com/zvgq/zvgq/milestones/0.2%20-%20Administrative%20Features' target='_blank'>next bit
			of development</a> is to create an administration side so that we don't need to directly update the database
			for each game and quote.
		p.
			That being said, we are going to manually add some content slowly to keep the site fresh and to get some new
			content up there for everyone to enjoy.
	
		h3.pixel-text Is there any way I can help?
		p.
			Right now, we need help with development. 
		
		p.
			The reason this site has taken so long is that there is only one
			developer and real life tends to get in the way. If you've got development skills, reach out to
			<a href='https://github.com/davidwesst' target='_blank'>David on Github</a> and check out the code.
