extends ./base.jade

block content
	section(id='tileContainer', class='tile-container')
		if games.length > 0
			each game in games
				article(class='tile')
					div(class='bg', style='background-image: url(#{ game.titleMediaUri })')
						h3(class='tile-title')= game.title
		else
			h1 There are no games for this letter!
	
	script(data-main="/script/games", src="/lib/requirejs/require.js")
