script(type='text/x-handlebars', data-template-name='game')
	div(class='game')
		| {{#if titleMediaUri}}
		header(class='game-header')
			| <img {{bind-attr src=titleMediaUri alt=title}} />
			h1 {{title}}
			h4 {{description}}
		| {{else}}
		header(class='game-header')
			h1 {{title}}
			h4 {{description}}
		| {{/if}}
		
		section
			h2 Quotes
			div(class='container-fluid')
				div(class='row')
					div(class='col-md-4')
						section(class='quotes')
							| {{#each quote in quotes }}
							|	{{#link-to 'quote' quote.id}}
							article(class='quote')
								h3(class='title') {{quote.title}}
							|	{{/link-to}}
							| {{else}}
							article ZOMG! No Quotes for this Game!
							| {{/each}}
					div(class='col-md-8')
						section(id='quoteDisplay') {{outlet}}