<!DOCTYPE html>
<html>
	<head>
		<title>ZVGQ - {{title}}</title>
		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<link rel="stylesheet" type="text/css" href="style/main.css" />
	</head>
	<body>
		<header>
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<a class="brand">
						Zany Video Game Quotes - ALPHA
					</a>
				</div>
			</nav>
			<ul class="nav nav-pills nav-justified filters">
				{{#each filters}}
				<li>
					<a class="filter" href="#" data-filter="{{this.description}}">{{this.description}}</a>
				</li>
				{{/each}}
			</ul>
		</header>
		
		<section id="main" class="main">
			<article>
				<h1>Results</h1>
			</article>
			<article id="games">

			</article>
			<article id="quotes">
				<section>
				</section>
				<article>
					Quote media goes here
				</article>
			</article>
		</section>
		
		<script data-main="script/browse/main" src="bower_components/requirejs/require.js"></script>
	</body>
</html>
