<!DOCTYPE html>
<html>
	<head>
		<title>ZVGQ - {{title}}</title>
		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<link rel="stylesheet" type="text/css" href="style/main.css" />
	</head>
	<body>
		<header>
            <h1>This is the header</h1>
        </header>
        <article class="main">
            This the main article on the page.
        </article>
        <footer>
            <h1>This is the footer</h1>
        </footer>
		
		<script data-main="script/browse/main" src="bower_components/requirejs/require.js"></script>
	</body>
</html>
