<!DOCTYPE html>
<html>
	<head>
		<title>ZVGQ</title>
		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<link rel="stylesheet" type="text/css" href="style/main.css" />
	</head>
	<body>
	
		<script type="text/x-handlebars">
			<header>
				<h1>ZVGQ - Application Template</h1>
                {{#link-to 'games'}} Games {{/link-to}}
			</header>
			<article>
				{{outlet}}
			</article>
			<footer>
				Copyright &copy; 2014
			</footer>
		</script>
		
		<script type="text/x-handlebars" data-template-name="games">
			<h5>Games</h5>
			<ul>
				{{#each}}
				<li>
					<figure>
						<img {{bindAttr src=titleMediaUri}} />
						<figcaption>{{title}}</figcaption>
					</figure>
				</li>
				{{/each}}
			</ul>
		</script>
		
		<script type="text/x-handlebars" data-template-name="game">
			<h1>{{title}}</h1>
			<figure>
				<img {{bindAttr src=titleMediaUri}} />
				<figcaption>{{description}}</figcaption>
			</figure>			
		</script>
		
		<script data-main="script/browse/main" src="bower_components/requirejs/require.js"></script>
	</body>
</html>
