<!DOCTYPE html>
<html>
	<head>
		<title>ZVGQ - {{title}}</title>
		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<link rel="stylesheet" type="text/css" href="style/main.css" />
	</head>
	<body>
	
		<script type="text/x-handlebars">
			<header>
				<h1>ZVGQ - Application Template</h1>
			</header>
			<article>
				{{outlet}}
			</article>
			<footer>
				Copyright &copy; 2014
			</footer>
		</script>
		
		<script type="text/x-handlebars" data-template-name="games" id="games">
			<ul>
				<li>This</li>
				<li>is</li>
				<li>a</li>
				<li>game</li>
				<li>list</li>
			</ul>
		</script>
		
		<script data-main="script/browse/main" src="bower_components/requirejs/require.js"></script>
	</body>
</html>
