<!DOCTYPE html>
<html>
	<head>
		<title>ZVGQ - {{title}}</title>
		
		<link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/build/packaged/css/semantic.min.css" />
		<link rel="stylesheet" type="text/css" href="style/main.css" />
	</head>
	<body>
		<header class="ui fixed transparent compact inverted main site menu">
			<a class="left item">
				Zany Video Game Quotes - ALPHA
			</a>
			{{#each filters}}
			<a class="right filter item" href="#" data-filter="{{this.description}}">{{this.description}}</a>
			{{/each}}
		</header>
		
		<section id="main">
			<article class="title segment">
				<h1>Results</h1>
			</article>
			<article id="games" class="ui game list">

			</article>
			<article id="quotes" class="ui basic modal">
				<h1>This is the quote modal</h1>
			</article>
		</section>
		
		<script data-main="script/browse/main" src="bower_components/requirejs/require.js"></script>
	</body>
</html>
