<!DOCTYPE html>
<html>
	<head>
		<title>ZVGQ - {{title}}</title>
	</head>
	<body>
		<div class="entry">
			<h1>{{title}}</h1>
			<div class="body">
				{{body}}
			</div>
		</div>
		
		<script data-main="script/browse/main" src="bower_components/requirejs/require.js"></script>
	</body>
</html>
