<!DOCTYPE html>
<html>
	<head>
		<title>ZVGQ - {{title}}</title>
		
		<link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/build/packaged/css/semantic.min.css" />
		<link rel="stylesheet" type="text/css" href="style/main.css" />
	</head>
	<body>
		<header class="ui fixed transparent compact inverted main menu">
			<a class="left item">
				Zany Video Game Quotes - ALPHA
			</a>
			{{#each filters}}
			<a class="right filter item" href="#">{{this.description}}</a>
			{{/each}}
		</header>
		
		<section id="main">
			<article class="title segment">
				<h1>Results</h1>
			</article>
			<article class="ui list">
				{{#each results}}
				<div class="item">
					<div class="content">
						<header class="header">{{this.title}}</header>
					</div>
				</div>
				{{/each}}
			</article>
		</section>
		
		<script data-main="script/browse/main" src="bower_components/requirejs/require.js"></script>
	</body>
</html>
